.dot {
  height: 35px;
  width: 35px;
  color:white;  
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  padding: 7px;
}

.adot {
  height: 8px;
  width: 8px;  
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  padding: 4px;
}