<div class="container bg-white">
    <form #newtaskform="ngForm" (ngSubmit)="onformsubmit()" novalidate>
        <div class="row bg-primary text-white">
            <div class="col-md-12">
                Add New task
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">

                <label>Title</label>
                <input class="w-100 border" type="text" name="title" #tname="ngModel" [(ngModel)]="newtask.title"
                    cdkFocusInitial required [class.border-danger]="tname.invalid && tname.touched">

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Description</label>
                <textarea class="w-100" type="text" name="desc" #tdesc="ngModel" [(ngModel)]="newtask.desc" required
                    [class.border-danger]="tdesc.invalid && tdesc.touched">
                    </textarea>
            </div>

        </div>

        <div class="row mb-3 border border-secondary">
            <label class="w-100">Assignee</label>
            <div class="col-md-3 form-check">
                <input class="form-check-input" #asgn="ngModel" [(ngModel)]="newtask.torad" type="radio" name="assignee"
                    id="assignee1" value='4' required>
                <label class="form-check-label" for="assignee1">
                    Rittika
                </label>
            </div>
            <div class="col-md-3 form-check">
                <input class="form-check-input" #asgn="ngModel" [(ngModel)]="newtask.torad" type="radio" name="assignee"
                    id="assignee2" value='5' required>
                <label class="form-check-label" for="assignee2">
                    Urmila
                </label>
            </div>
        </div>

        <div class="row mb-3 border border-secondary">
            <label class="w-100">Coloumn</label>
            <div class="col-md-3 form-check">
                <input class="form-check-input" [(ngModel)]="newtask.colrad" type="radio" name="coloumn" id="coloumn1"
                    value=1 #taskcol="ngModel" required>
                <label class="form-check-label" for="coloumn1">
                    Backlog
                </label>
            </div>
            <div class="col-md-2 form-check">
                <input class="form-check-input" [(ngModel)]="newtask.colrad" type="radio" name="coloumn" id="coloumn2"
                    value=2 #taskcol="ngModel" required>
                <label class="form-check-label" for="coloumn2">
                    Ready
                </label>
            </div>
            <div class="col-md-4 form-check">
                <input class="form-check-input" [(ngModel)]="newtask.colrad" type="radio" name="coloumn" id="coloumn3"
                    value=3 #taskcol="ngModel" required>
                <label class="form-check-label" for="coloumn3">
                    Work In Progress
                </label>
            </div>
            <div class="col-md-3 form-check">
                <input class="form-check-input" [(ngModel)]="newtask.colrad" type="radio" name="coloumn" id="coloumn4"
                    value=4 #taskcol="ngModel" required>
                <label class="form-check-label" for="coloumn4">
                    Done
                </label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <mat-form-field>
                    <input name="cdate" required matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1"
                        placeholder="Create date" (dateChange)="addEvent('cd', $event)" #tcdate="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input name="sdate" required matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2"
                        placeholder="Start date" (dateChange)="addEvent('sd', $event)" #tsdate="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input name="edate" required matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker3"
                        placeholder="End date" (dateChange)="addEvent('ed', $event)" #tedate="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" [mat-dialog-close]="newtask" class="bg-primary text-white py-2 px-4"
                    [disabled]="newtaskform.form.invalid">Create
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </form>
</div>