

.box{
  box-model: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
}

.colstyle {
    padding: 10px;
    font-family: open-sans;
}

.dot {
    margin: 1px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/favicons/apple-touch-icon.png');
  background-size: cover;
  float:left;
  height: 30px;
    margin: 0 3px;
    width: 30px;
    border-radius: 50%;
}