<div class="container-fluid">
    <div class="row mt-5">

        <div class="col-sm">

        </div>
        <div class="col-sm text-white" style="background-color: #263238">

            <form class="text-center border border-dark p-5" #loginform="ngForm" novalidate (ngSubmit)="onSubmit()">
                <p class="h4 mb-4">Sign in</p>
                <mat-form-field class="w-100 text-white">
                    <input pattern="(rittika)|(urmila)|(pradeep)|(admin)|(poonam)" matInput type="text" required
                        #name="ngModel" [(ngModel)]="username" id="username" name="username"
                        class="form-control text-white">
                    <mat-placeholder class="placeholder text-white">Username</mat-placeholder>
                    <mat-error *ngIf="name.invalid">
                        Please enter a valid User Name
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <input required matInput [(ngModel)]="password" type="password" id="password" name="password"
                        class="form-control">
                    <mat-placeholder class="placeholder text-white">Password</mat-placeholder>

                </mat-form-field>

                <button [disabled]="loginform.form.invalid" class="btn btn-info btn-block mt-4" type="submit">
                    Sign in
                </button>
                <br />
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" />
                    <label class="custom-control-label" for="defaultLoginFormRemember">
                        Remember me
                    </label>
                </div>
                <div class="pl-3">
                    <a href="#">Forgot Password?</a>
                </div>

            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div class="row">
        <div class="col-xl">

        </div>
    </div>
</div>