.form-control:focus {
    border:none;
    box-shadow: none;
    background-color: #263238;
    
}

::ng-deep .mat-form-field-label {
    color: white !important;
}

span.mat-placeholder-required.mat-form-field-required-marker {
    color: wheat !important;
}

.background-red {
    background-color: red;
}